@using Microsoft.AspNetCore.Http.Features

@{
	var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
	var showBanner = !consentFeature?.CanTrack ?? false;
	var cookieString = consentFeature?.CreateConsentCookie();
	var privacyLink = Url.Page("/Privacy");
}

@if (showBanner)
{
	<page-shared-cookieconsentpartial privacy-link="@privacyLink" cookie-string="@cookieString">
		<div slot="consentText">
			This site uses cookies. Like every other site does. If you're that bored, you can read about it here: <a asp-page="/Privacy">Learn More</a>.
		</div>
	</page-shared-cookieconsentpartial>
}