<page-shared-footerpartial :test="appTitle" inline-template>
	<footer class="border-top footer text-muted" id="pageFooter">
		<div class="container">
			&copy;{{currentYear}} - {{test}} - <a asp-area="" asp-page="/Privacy">Privacy</a>
		</div>
	</footer>
</page-shared-footerpartial>
