<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - VueCS3.Web</title>
	<environment exclude="Development">
		@* TODO: update files on build task from vs tasks.json *@
		<link href="~/dist/assets/css/chunk-vendors.6c57f554.css" rel="stylesheet" />
		<link href="~/dist/assets/css/app.37c55a78.css" rel="stylesheet" />
	</environment>

	@RenderSection("Header", required: false)
</head>
<body>
	<template id="app">
		<div>
			<partial name="_CookieConsentPartial" />
			<partial name="_HeaderPartial" />
			<div class="container">
				<main role="main" class="pb-3">
					@RenderBody()
				</main>
			</div>
			<partial name="_FooterPartial" />
		</div>
	</template>
	<environment include="Development">
		<script src="~/app.js"></script>
	</environment>
	<environment exclude="Development">
		@* TODO: update files on build task from vs tasks.json *@
		<script src="~/dist/assets/js/chunk-vendors.65fc0832.js"></script>
		<script src="~/dist/assets/js/app.ad62a369.js"></script>
	</environment>

	@RenderSection("Scripts", required: false)
</body>
</html>
